body{
	background: url(../img/background2.jpg);
	font-family: "Trebuchet Ms";
	font-size:0.9em;
	margin-top:0px;
	margin-bottom:0px;
	color:#222;
	
}
#page{
	width:950;
	margin:0px auto;
	border:2px solid #555;
	
}
#menu{
	background:url(../img/top_menu_bg2.jpg) repeat-x;
	padding: 5px 5px 5px 15px; 
	border-top: 1px solid #ccc;
	border-bottom:1px solid #333;
	
}
#menu ul{  
	list-style-type:none; /*We reach to list ul  to ckean space */
	margin:0px;
	padding:0px;
}
#menu ul li{ 
	float:left;
}
.clear_all{
	clear: both;
}
#menu ul li a{
	display:block;
	line-height: 28px;
	border:1px solid #fff;
	background: #4b5d64;
	color: #fff;
	padding :0px 15px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 5px;
}
#menu ul li a:hover{
	color:#000;
	border: 2px ridge #000;
	background:#ffcc11;
}

#contents{
	background: #dee8ed;
	padding: 5px;
}
#content_left{
	width: 250px;
	float: left;
	
}
#content_right{
	width: 950px;
	float: left;
}
#left_menu{
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	
}
#left_menu li a{
	
	display:block;
	background:url(../img/leftmenubutton3.png) no-repeat;
	line-height: 35px;
	padding-left: 45px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-bottom: 5px;
}
#left_menu li a:hover{
	background:url(../img/leftmenubutton4.png) no-repeat;
	color: #000;
}
.news_box{
	border: 1px solid #ccc;
	border-bottom:2px solid #333;
	background:#f9fafb;
	padding:5px;
	margin:0px 5px 5px 0px;
}
.news_box h3{
	margin: 0px;
}
.news_box img{
	float:left;
	padding:5px;
	border: 1px solid #ccc;
}
#content_right{
	background:#fff;
	padding: 5px;
	border: 1px solid #ccc;
}
#left_pic{
	float:left;
	margin-right:5px;
	margin-bottom:20px;
	border:1px solid #ccc;
}
#right_pic{
	float:right;
	margin-right:5px;
	border:1px solid #ccc;
}
#mid_pic{
	display: block;
	margin-right:5px;
	border:1px solid #ccc;
}











